<footer class="site-footer" role="banner">
	{%- if page.rmarkdown_html_fragment == true -%}
		{%- include research_post_rmarkdown_scripts_footer.html -%}
	{%- endif -%}
	{% include cookie_modal.html %}
	<div class="row">
		<div class="col-sm-4">
			<div class="wrapper">
				<img src="/assets/images/simcovid_logo.svg" title="SimcovID (Simulasi dan pemodelan COVID-19 Indonesia)"/>
				<p><b>SimcovID (Simulasi dan Pemodelan COVID-19 Indonesia)</b></p>
				<!-- <p><a href="/cookies" title="Cookie policy">Cookie policy</a></p> -->
			</div>
		</div>
		<div class="col-sm-4">
			<div class="wrapper">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="wrapper">
				<img src="/assets/images/simcovid_univ_v2.svg"/>
				<!-- <img src="/assets/images/simcovid_logo.svg" title="SimcovID (Simulasi dan pemodelan COVID-19 Indonesia)"/> -->
			</div>
		</div>

	</div>
	<script src="/assets/js/cookie_consent.js"></script>
</footer>
